
@{
    ViewBag.Title = "AssignUsersToTeam";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>AssignUsersToTeam</h2>
@Html.Partial("UsersBelongingToTheTeam")
@Html.Partial("UsersNotBelongingToTheTeam")
