@using TestCasesInventory.Presenter.Models
@model AssignUsersToTeamViewModel
@{
    ViewBag.Title = "AssignUsersToTeam";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Assign Users To @Model.TeamName</h3>
@Html.Partial("_TabPartialView", Model.Tabs)
<br />
<hr />
<p>
    @Html.ActionLink("Back to List", "Index")
</p>


