@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}

<div class="jumbotron">
    <h1>TestCases Inventory</h1>
    <p class="lead">The idea of developing this project is from the need of CMS testers. They want to have a system which can help them manage test cases and test results and this page is supposed to help them do it. </p>
    <p> We are a team from Niteco Young Talent Program. We have four members and are led by Mr. Duke Mai.</p>
</div>

