.btn-group-set-status {
    display: none;
}

.modal-lg {
    width: 900px;
}

.modal-sm {
    width: 400px;
}

.view-test-suites {
    padding: 10px;
}

th h4 {
    font-size: 14px;
    font-weight: bold;
}

    th h4 a {
        font-size: 14px;
        font-weight: bold;
        color: black;
    }

        th h4 a:hover {
            color: black;
            text-decoration: none;
        }

td {
    font-size: 14px;
}

/*Color for Priority*/
.highest {
    background-color: #d9534f;
}

.high {
    background-color: #f0ad4e;
}

.medium {
    background-color: #5bc0de;
}

.low {
    background-color: #5cb85c;
}

.lowest {
    background-color: #337ab7;
}

.table tr:first-child th {
    border-top: none;
}

.bg-gray {
    background-color: #dddddd;
    border-radius: 5px;
}

.information-test-case-area {
    margin-bottom: 20px;
    padding: 5px 0 5px 0;
}

.information-test-suite-area {
    margin-bottom: 20px;
    padding: 5px 0 5px 0;
}

.test-cases-area {
    padding: 11px 14px 1px 6px;
    margin-bottom: 15px;
}

body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav .display-pic {
    padding-left: 5px;
}

.nav .display-name {
    padding-right: 5px;
}

.image {
    width: 21px;
}

.search-bar {
    padding: 0;
}

.attachment-list {
    padding-top: 7px;
}

.attachment-item {
    display: block;
}


.test-case-item .text-muted {
    color: #999999;
}

.test-case-item .label-priority {
    margin-top: 3px;
}
/*
    loading animation
*/
.loader {
    height: 4px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background-color: #ddd;
    top: 76px;
    left: 0;
    display: none;
}

    .loader:before {
        display: block;
        position: absolute;
        content: "";
        left: -200px;
        width: 200px;
        height: 4px;
        background-color: #2980b9;
        animation: loading 2s linear infinite;
    }

@keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }

    50% {
        width: 30%;
    }

    70% {
        width: 70%;
    }

    80% {
        left: 50%;
    }

    95% {
        left: 120%;
    }

    to {
        left: 100%;
    }
}
/*
    TestRun Result
*/
.show-message {
    height: 40px;
    width: 200px;
    left: 45%;
    top: 60px;
    position: fixed;
    border-radius: 7px;
    display: none;
    background-color: honeydew;
    color: seagreen;
    text-align: center;
}

.pagination-container {
    text-align: center;
}

    .modal-body .pagination {
        margin-bottom: 0;
    }

.run-test-run .carousel {
    height: 450px;
}

.modal-body {
    overflow: hidden;
}

.passed {
    color: #4caf50;
}

.failed {
    color: #d9534f;
}

.skipped {
    color: #8a6d3b;
}
.testcases-result-table {
margin-top: 20px;
}
#status-chart, #tester-chart {
padding-right: 15px;
}