@using TestCasesInventory.Presenter.Models
@using TestCasesInventory.Web.Common.Utils
@model FilterViewModel
@using (Html.BeginForm(Model.Action, Model.Controller, new { area = Model.Area }, FormMethod.Get))
{
    <div class="search-box search-bar navbar-form navbar-left">        
        <div class="form-group">
            @Html.TextBox("filterKeyword", Model.FilterOptions.Keyword, new {@class="form-control"}) 
        </div>
        <input type="submit" value="Search" class="btn btn-default">        
        <div class="form-group">            
            <strong>By</strong> 
            @foreach (var item in Model.FilterFields)
                {
                @Html.FilterOptions(item, Model.FilterOptions)
            }
        </div>
    </div>
}
