@model TestCasesInventory.Presenter.Models.IndexViewModel

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">
            About Me
        </h3>
    </div>
    <div class="box-body">
        <strong>
            <i class="fa fa-envelope-o margin-r-5"></i>
            Email
        </strong>
        <p class="text-muted">@Model.Email</p>
        <hr />
        <strong>
            <i class="fa fa-group margin-r-5"></i>
            Team
        </strong>
        <p class="text-muted">@Model.TeamName</p>
    </div>
</div>