
@{
    ViewBag.Title = "Create TestSuite";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Create</h3>

<div>
    <h3 class="text-danger">You are not belong to any team. Please contact admin to join a team.</h3>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
