

<div id="modal-container-finish-testrunresult" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content view-test-suites">
            <div class="modal-header">
                <h4>Assign to user</h4>
            </div>
            <div class="modal-body" id="modalContent-assign-to-user">
                Are you sure you want to finish this test run?

            </div>
            <div class="modal-footer">
                <input id="submit-finish" class="btn btn-primary" type="button" value="Yes" />
                <input id="cancel-finish" class="btn btn-default" type="button" value="No" />
            </div>
        </div>
    </div>
</div>