

<div id="modal-container-run-testrun" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content view-test-suites">
            <div class="modal-header">
                <h4>Run Test Run</h4>
            </div>
            <div class="modal-body" id="modalContent-run-testrun">
            </div>
            <div class="modal-footer">
                <input id="submit-pass" class="btn btn-success" type="button" value="Pass" />
                <input id="submit-fail" class="btn btn-danger" type="button" value="Fail" />
                <input id="submit-skip" class="btn btn-primary" type="button" value="Skip" />
            </div>
        </div>
    </div>
</div>