@using TestCasesInventory.Presenter.Models
@model EditTestRunViewModel
@Html.Partial("TestRun/_EditTestRunByTesterPartial")
<div class="form-group">
    @Html.LabelFor(model => model.TeamID, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">        
        @Html.DropDownListFor(model => model.TeamID, Model.Teams, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
        @Html.ValidationMessageFor(model => model.TeamID, "", new { @class = "text-danger" })
    </div>
</div>
