
<div id="test-cases-result-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h3>Detail Information</h3></div>
            <div class="modal-body" id="testcase-result-detail-info">
            </div>
        </div>
    </div>
</div>