    @Html.Partial("_TesterPartial")
    <li class="treeview">
        <a href="#">
            <span>Admin</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>@Html.ActionLink("Manager Teams", "Index", "Team", new { area = "Admin" }, null)</li>
            <li>@Html.ActionLink("Manage Roles", "Index", "Role", new { area = "Admin" }, null)</li>
        </ul>
    </li>
