@using TestCasesInventory.Config
@model TestCasesInventory.Presenter.Models.LoginStatusViewModel
@using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>

        </li>
        <li>
            @Html.ActionLink("Hello " + Model.DisplayName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "displayname" })
        </li>
        @{
            if (File.Exists(Model.ProfilePicturePhysicalPath))
            {
                <li  style="height: 32px;    line-height: 32px; text-align:center; ">
                    <a href="@Url.Action("Index", "Manage")" class="displaypic">
                        <img class="image" src="@Url.Content(Model.ProfilePictureURL)" alt="IMAGES" align="middle" />
                    </a>
                </li>
            }
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
            }
