@using TestCasesInventory.Presenter.Models
@model TestCasesInventory.Presenter.Models.LoginStatusViewModel
@using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>

        </li>
        <li>
            @Html.ActionLink("Hello " + Model.DisplayName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        @{
            string path = Path.Combine(Server.MapPath("~/uploads/photos"), Model.Email, "profile.JPG");
            if (File.Exists(path))
            {
                <li style="height: 32px;    line-height: 32px; text-align:center; ">
                    <a href="@Url.Action("Index", "Manage")" class="links">
                        <img src="@Url.Content("~/uploads/photos/" + Model.Email + "/profile.JPG?"+ DateTime.Now.Ticks.ToString())" alt="IMAGES" width="20" align="middle" />
                    </a>
                </li>
            }
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
            }
