<!DOCTYPE html>
<html>
@Html.Partial("require_file/_header")
<body class="skin-blue layout-top-nav">
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        @Html.ActionLink("TestCasesInventory", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                </div>
            </nav>
        </header>
        <div class="content-wrapper">
            <div class="container">
                <section class="content">
                    @RenderBody()
                </section>
            </div>
        </div>
    </div>
    @Html.Partial("require_file/_JsBundle")
</body>
</html>
