<ul class="nav navbar-nav">
    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
    <li class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Admin <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("Team", "Index", "Team", new { area = "Admin" }, null)</li>
            <li>@Html.ActionLink("Manage User Roles", "Index", "Role", new { area = "Admin" }, null)</li>
        </ul>
    </li>
</ul>
