    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard" ></i>
            <span>Tests</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>@Html.ActionLink("Manage Test Suites", "Index", "TestSuite", new { area = "Tests" }, null)</li>
            <li>@Html.ActionLink("Manage Test Runs", "Index", "TestRun", new { area = "Tests" }, null)</li>
        </ul>
    </li>
