<ul class="nav navbar-nav">
    <li class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Tests <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("Manage Test Suites", "Index", "TestSuite", new { area = "Admin" }, null)</li>
            <li>@Html.ActionLink("Manage Test Runs", "Index", "TestRun", new { area = "Admin" }, null)</li>
            <li>@Html.ActionLink("Manage Test Results", "Index", "TestRunResult", new { area = "Admin" }, null)</li>
        </ul>
    </li>
    
</ul>
