@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error Role Not Found";
}

<h1 class="text-danger">Error Role Not Found</h1>
<h2 class="text-danger">This role is not exsit or has been already deleted !</h2>
