

<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content view-test-suites" >
            <div class="modal-header">
                <h4>Add test cases</h4>
            </div>
            <div class="modal-body" id="modalContent">
            </div>
            <div class="modal-footer">
                <input id="submit-button" class="btn btn-default" type="button" value="Submit" />
            </div>
        </div>
    </div>
</div>