

<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content view-test-suites">
            <div class="modal-header">
                <h4>Select Test Cases For Test Run</h4>
            </div>
            <div class="loader"></div>
            <div class="modal-body" id="modalContent">

            </div>
            <div class="modal-footer">
                <input id="submit-button" class="btn btn-primary" type="button" value="Submit" />
                <input id="cancel-button" class="btn btn-default" type="button" value="Cancel" />
            </div>
        </div>

    </div>
</div>