<div class="panel-group" id="pop-up-content" role="tablist" aria-multiselectable="false">
    {{#each .}}
    <div class="panel panel-primary test-suite-container" data-id="{{ID}}" id="test-suite-container-{{ID}}">
        <div class="panel-heading" role="tab" id="test-suite-heading-{{ID}}">
            <h4 class="panel-title">
                <a  class="test-suite-link" role="button" data-toggle="collapse" data-parent="#test-suite-container-{{ID}}" href="#test-suite-content-{{ID}}" aria-expanded="false" aria-controls="{{ID}}">
                    {{Title}}
                </a>
            </h4>
        </div>
        <div id="test-suite-content-{{ID}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{Title}}">
            <div class="panel-body" id="test-suite-content-body-{{ID}}">                
            </div>
        </div>
    </div>
    {{/each}}
</div>