@model TestCasesInventory.Presenter.Models.IndexViewModel
@using TestCasesInventory.Config
@{
    ViewBag.Title = "Manage";
}
<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-3">
       @Html.Partial("Manager/_ProfileBox",@Model)
       @Html.Partial("Manager/_AboutMeBox",@Model)
    </div>
</div>
