<div id="select-run-options">
    <div class="radio">
        <label>
            <input name="radio-box" type="radio" value="getAll" checked/>
            <span> Test all test cases in this Test Run.</span>
        </label>
    </div>

    <div class="radio">
        <label>
            <input name="radio-box" type="radio" value="getAssigned" />
            <span>Test all test cases assgined to me.</span>
        </label>
    </div>
</div>


<a href="" id="btn-start-test" class="btn btn-danger pull-right">Start</a>