<div id="myCarousel" class="carousel slide" data-ride="carousel" data-simplebar-direction="vertical" data-wrap="false">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {{#each .}}
        {{#if @first}}
        <div class="item active" data-id="{{ID}}">
            {{else}}
            <div class="item" data-id="{{ID}}">
                {{/if}}
                <div class="information-test-suite-area">
                    <dl class="dl-horizontal">
                        <dt> Title </dt>
                        <dd> {{TestCaseTitle}} </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt> Priority </dt>
                        <dd><span class="label {{PriorityStyleClass}}"> {{TestCasePriority}} </span></dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt> Status </dt>
                        <dd> <span id="currentStatus-{{ID}}" class="{{StatusStyleClass}}">{{Status}}</span> </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt> Description </dt>
                        <dd> {{{TestCaseDescription}}} </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt> Precondition </dt>
                        <dd> {{{TestCasePrecondition}}} </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt> Expect </dt>
                        <dd> {{{TestCaseExpect}}} </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt> Comment </dt>
                        <dd>
                            <textarea class="form-control" rows="5" id="comment-{{ID}}">{{Comment}}</textarea>
                        </dd>
                    </dl>
                </div>
            </div>
            {{/each}}
        </div>


    </div>
</div>
<!-- Indicators -->
<div class="pagination-container" id="run-test-pagination">
    <ul class="pagination pagination-sm">
        <li data-target="#myCarousel" data-slide="prev"><a href="#">&laquo;</a></li>
        {{#each .}}
        {{#if @first}}
        <li data-target="#myCarousel" data-slide-to="{{@index}}" class="paging-li active" >
            <a href="#">{{@index}}</a>
        </li>
        {{else}}
        <li data-target="#myCarousel" class="paging-li" data-slide-to="{{@index}}">
            <a href="#">{{@index}}</a>
        </li>
        {{/if}}
        {{/each}}
        <li data-target="#myCarousel" data-slide="next"><a href="#">&raquo;</a></li>
    </ul>
</div>
