<div id="myCarousel" class="carousel slide" data-ride="carousel" data-wrap="false">
    <div id="indicators-container">
        <ol class="carousel-indicators">
            {{#each .}}
            {{#if @first}}
            <li data-target="#myCarousel" data-slide-to="{{@index}}" class="active"></li>
            {{else}}
            <li data-target="#myCarousel" data-slide-to="{{@index}}"></li>
            {{/if}}
            {{/each}}
        </ol>
    </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {{#each .}}
        {{#if @first}}
        <div class="item active" data-id="{{ID}}">
            {{else}}
            <div class="item" data-id="{{ID}}">
                {{/if}}
                <div class="information-test-suite-area">
                    <dl class="dl-horizontal">
                        <dt> Title </dt>
                        <dd> {{TestCaseTitle}} </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt> Priority </dt>
                        <dd><span class="label {{PriorityStyleClass}}"> {{TestCasePriority}} </span></dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt> Description </dt>
                        <dd> {{{TestCaseDescription}}} </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt> Precondition </dt>
                        <dd> {{{TestCasePrecondition}}} </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt> Expect </dt>
                        <dd> {{{TestCaseExpect}}} </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt> Current Status </dt>
                        <dd> <span id="currentStatus-{{ID}}"> </span> </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt> Comment </dt>
                        <dd>
                            <textarea class="form-control" rows="2" id="comment-{{ID}}"></textarea>
                        </dd>
                    </dl>
                </div>
            </div>
            {{/each}}
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon"></span>
        </a>

        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon"></span>
        </a>
    </div>


</div>

<!-- Indicators -->
