<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {{#each .}}
        {{#if @first}}
        <div class="item active" data-id="{{ID}}">
            {{else}}
            <div class="item" data-id="{{ID}}">
                {{/if}}
                <div class="information-test-suite-area bg-gray">
                    <dl class="dl-horizontal">
                        <dt> Title </dt>
                        <dd> {{TestCaseTitle}} </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt> Priority </dt>
                        <dd> {{TestCasePriority}} </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt> Description </dt>
                        <dd> {{{TestCaseDescription}}} </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt> Precondition </dt>
                        <dd> {{{TestCasePrecondition}}} </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt> Expect </dt>
                        <dd> {{{TestCaseExpect}}} </dd>
                    </dl>
                </div>
            </div>
            {{/each}}
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>