@using TestCasesInventory.Presenter.Models
@model  List<UsersBelongTeamViewModel>

<form action="~/Admin/Team/RemoveUsersFromTeam/@ViewBag.id" method="post">
    <table class="table">
        <tr>
            <th>Email</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" id=@item.ID name="usersBelongTeam" value="@item.ID" />
                    <label for="@item.ID"> @item.Email</label>
                </td>
            </tr>
        }
    </table>

    <input type="submit" value="Remove from Team" name="buttonSubmitIn" class="btn btn-default" />
</form>