@using TestCasesInventory.Presenter.Models
@model List<UsersBelongRoleViewModel>
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Details</h3>
<h4>Users in Role: @ViewBag.Name</h4>
<table class="table">
    <tr>
        <th>Email</th>
        <th>Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(Model => item.Email)
            </td>
            <td>
                @Html.DisplayFor(Model => item.DisplayName)
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


