
<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("TestCasesInventory", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </nav>
</header>