<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel"></div>
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            @Html.Action("Index", "Menu", new { area = "" })
        </ul>
    </section>
</aside>