<header class="main-header">
    <a class="logo" href="/">
        <span class="logo-mini">
            <b>TI</b>
        </span>
        <span class="logo-lg">
            <b>T</b>estCases<b>I</b>nventory
        </span>
    </a>

    <!-- End Logo-->

    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        @Html.Partial("AuthenticatedContent/_TopBarUserArea")
        <!-- Navbar Right Menu -->
    </nav>
</header>